/* FULL SCREEN BACKGROUND */
.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  
  background: linear-gradient(to right, #0f2027, #2c5364, #00c6ff);

  font-family: "Segoe UI", sans-serif;
}
/* GLASS EFFECT BOX */
.auth-box {
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  padding: 35px 30px;
  border-radius: 15px;
  width: 340px;
  text-align: center;
  color: white;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
  transition: 0.3s;
}

.auth-box:hover {
  transform: translateY(-5px);
}

/* HEADING */
.auth-box h2 {
  margin-bottom: 20px;
  font-weight: 600;
}

/* INPUT FIELDS */
.auth-box input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
  font-size: 14px;
}

/* PLACEHOLDER COLOR */
.auth-box input::placeholder {
  color: #ddd;
}

/* INPUT + BUTTON SAME SIZE */
.auth-box input,
.auth-box button {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border-radius: 8px;
  box-sizing: border-box; /* IMPORTANT */
}

/* INPUT STYLE */
.auth-box input {
  border: none;
  outline: none;
  background: rgba(255, 255, 255, 0.2);
  color: white;
}

/* BUTTON STYLE */
.auth-box button {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border: none;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

/* BUTTON */
.auth-box button {
  width: 100%;
  padding: 12px;
  margin-top: 15px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  border: none;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.auth-box button:hover {
  transform: scale(1.05);
}

/* TOGGLE TEXT */
.toggle {
  margin-top: 15px;
  font-size: 14px;
}

.toggle span {
  color: #ffd369;
  cursor: pointer;
  font-weight: bold;
}

/* ERROR MESSAGE */
.error {
  color: #ff4d4d;
  font-size: 13px;
  margin-top: 5px;
}

/* RESPONSIVE */
@media (max-width: 400px) {
  .auth-box {
    width: 90%;
    padding: 25px;
  }
}