/* BACKGROUND */
.contact-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(to right, #0f2027, #2c5364, #00c6ff);
  font-family: "Segoe UI", sans-serif;
}

/* GLASS BOX */
.contact-box {
  width: 350px;
  padding: 30px;
  border-radius: 15px;

  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(15px);
  color: rgb(254, 252, 252);
  text-align: center;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.3);
}

/* TITLE */
.contact-box h2 {
  margin-bottom: 5px;
}

.subtitle {
  font-size: 14px;
  margin-bottom: 20px;
  color: #ddd;
}

/* FORM */
.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 12px;
  margin: 10px 0;

  border: none;
  outline: none;
  border-radius: 8px;

  background: rgba(255, 255, 255, 0.2);
  color: white;
}

/* PLACEHOLDER */
.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #ccc;
}

/* BUTTON */
.contact-form button {
  width: 100%;
  padding: 12px;
  margin-top: 10px;

  border: none;
  border-radius: 8px;
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  color: white;
  font-weight: bold;
  cursor: pointer;

  transition: 0.3s;
}

.contact-form button:hover {
  transform: scale(1.05);
}

/* RESPONSIVE */
@media (max-width: 400px) {
  .contact-box {
    width: 90%;
  }
}