.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(90deg, #0a0506, #00f2fe);
  padding: 15px 30px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.nav-links {
  color: white;
  font-weight: bolder;
  font-size: 18px;
}

.nav h2 {
  color: white;
  font-weight: bolder;
  font-size: 20px;
}

.nav a {
  color: white;
  margin: 0 12px;
  text-decoration: none;
  font-weight: 500;
  position: relative;
  transition: 0.3s;
}

/* Hover Effect */
.nav a:hover {
  color: rgb(189, 189, 180);
}

/* Active Link Style */
.nav a.active {
  color: rgb(66, 32, 168);
  
}

/* ✅ Cart badge */
.cart-badge {
  background: red;
  color: white;
  font-size: 12px;
  padding: 2px 6px;
  border-radius: 50%;
  margin-left: 5px;
}
.logout-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

.logout-btn:hover {
  color: #ffd369;
}


